*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    background:#F5F1EA;
    color:#2C2C2C;
    font-family:'Montserrat',sans-serif;
}

.hero{
    min-height:100vh;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    text-align:center;
}

.hero h1{
    font-family:'Cormorant Garamond',serif;
    font-size:6rem;
    letter-spacing:8px;
}

.subtitulo{
    font-size:2rem;
    margin-bottom:15px;
}

.frase{
    font-style:italic;
    margin-bottom:40px;
}

.slider{
    width:70%;
    max-width:900px;
    margin-bottom:40px;
}

.slider img{
    width:100%;
    height:550px;
    object-fit:cover;
    border-radius:20px;
    box-shadow:0 15px 35px rgba(0,0,0,.15);
}

.btn-menu{
    background:#B08D57;
    color:white;
    padding:18px 45px;
    border-radius:50px;
    text-decoration:none;
    transition:.3s;
}

.btn-menu:hover{
    transform:translateY(-5px);
}

header{
    text-align:center;
    padding:60px;
}

header h1{
    font-family:'Cormorant Garamond',serif;
    font-size:5rem;
}

.categorias{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
    gap:25px;
    width:90%;
    margin:auto;
}

.categoria{
    background:white;
    padding:40px;
    text-align:center;
    border-radius:20px;
    cursor:pointer;
    transition:.4s;
    box-shadow:0 10px 20px rgba(0,0,0,.08);
}

.categoria:hover{
    transform:translateY(-12px);
    box-shadow:0 20px 40px rgba(0,0,0,.15);
}

.menu-completo{
    width:80%;
    margin:80px auto;
}

.menu-completo h2{
    font-family:'Cormorant Garamond',serif;
    font-size:3rem;
    margin-bottom:30px;
}

.item{
    display:flex;
    justify-content:space-between;
    padding:20px;
    margin-bottom:10px;
    background:white;
    border-radius:12px;
}

.item:hover{
    background:#efe7d7;
}

.menu-completo{
    scroll-margin-top:120px;
}